@model IEnumerable<ServiceWorkerDemo.Models.Article>
@{
    ViewData["Title"] = "Index";
}

<h2>.NET Blog</h2>

<div class="container-fluid">
    @foreach(var item in Model)
    {
    <div class="article">
        <h4 class="article-title" data-id="@item.Id"><a asp-controller="Feed" asp-action="ArticleContent" asp-route-ArticleId="@item.Id">@item.Title</a></h4>
        <span>publié le @item.DatePublished.ToString("dd/MM/yyyy HH:mm:ss")</span>
        <span> par @item.Creator</span>
        <div class="description">@Html.Raw(item.Description)</div>
    </div>
    }
</div>